@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.nav-bar {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 1rem;
}

.nav-logo {
  display: flex;
  justify-content: center;

  &__image {
    width: 75px;
    padding-bottom: 0.5rem;
  }
}

.nav-user {
  height: 0;

  &__avatar {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 100%;
  }
}

.nav-routes {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.active {
  color: $primary-color-blue;
}
