@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  padding: 0.5rem 0 1rem 0;
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.25rem 2rem;
  }
  @include desktop {
    margin: 0 7.5rem;
  }
}

.nav-logo {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
  @include tablet {
    width: 35%;
    justify-content: flex-start;
  }
  @include desktop {
    width: 85%;
  }

  &__image {
    width: 75px;
  }
}

.nav-routes {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.active {
  color: $secondary-color-blue;
}
