@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.welcome { 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;

  &-header {
    margin-bottom: 0;
  }

  &-message {
    font-size: 14px;
    @include tablet {
      font-size: 20px;
    }
  }
}

.welcome-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 3rem 0;

  &__image {
    width: 100px;
  }

  &__button {
    font-size: 16px;
    padding: 1rem 1rem;
    background-color: $primary-color-blue;
    color: white;
    border-radius: 100px;
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: all 0.5s;
    // @include tablet {
    //   font-size: 20px;
    //   padding: 1.5rem 1.5rem;
    // }
  }

  &__button{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  &__button:after {
    position: absolute;
    opacity: 0;  
    top: 25px;
    right: -20px;
    transition: 0.5s;
  }
  
  &__button:hover{
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
  
  &__button:hover:after {
    opacity: 1;
    right: 10px;
  }
}
