@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.form {
  display: flex;
  flex-direction: column;

  &-container {
    border-top: 2px solid $secondary-color-white;
    padding: 2rem 0;
    @include tablet {
      padding: 2rem 5rem;
    }
    @include desktop {
      padding: 2rem 10rem;
    }
  }
  
  &-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  &-category {
    color: $primary-color-blue;
    font-weight: 500;
    padding-bottom: 0.5rem;
    @include tablet {
      font-size: 20px;
    }
  }

  &-instruction {
    font-size: 14px;
    @include tablet {
      font-size: 20px;
    }
  }

  &-buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0 1rem 0;
  }

  &-rating {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0.85rem;

    &__emoji {
      width: 50px;
      @include tablet {
        width: 65px;
      }
      @include desktop {
        width: 80px;
      }
    }
  }

  &-submit {
    display: flex;
    justify-content: center;
    border-top: 2px solid $secondary-color-white;
    padding: 3rem 0;

    &__button {
      font-size: 16px;
      padding: 1rem 1rem;
      background-color: $primary-color-blue;
      color: white;
      border-radius: 100px;
      border: none;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      transition: all 0.5s;
      @include desktop {
        font-size: 20px;
        padding: 1.5rem 1.5rem;
      }
    }
    &__button{
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    
    &__button:after {
      position: absolute;
      opacity: 0;  
      top: 25px;
      right: -20px;
      transition: 0.5s;
    }
    
    &__button:hover{
      padding-right: 2.5rem;
      padding-left: 2.5rem;
    }
    
    &__button:hover:after {
      opacity: 1;
      right: 10px;
    }
  }
}
