@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.total { 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;

  &-header {
    margin-bottom: 0;
  }

  &-message {
    font-size: 14px;
  }
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-header {
    margin-bottom: 0;
  }

  &-total {
    font-size: 40px;
    color: $primary-color-blue;
    border: 5px solid $primary-color-blue;
    border-radius: 50%;
    padding: 3rem;
  }
}

.flag {
  &-image {
    width: 50px;
  }
}